
<left>

  <h2 class="github-title">Github Repo</h2>

  <h3 class="github-title">Automating CI/CD on AWS with GitHub Actions</h3>
  <a class="github-button" href="https://github.com/jennapederson/automating-cicd-on-aws-with-github-actions" data-icon="octicon-star" data-show-count="true" aria-label="Star on GitHub">Star</a>
  &nbsp;<a class="github-button" href="https://github.com/jennapederson/automating-cicd-on-aws-with-github-actions/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork on GitHub">Fork</a><br />

</left>

<script async defer src="https://buttons.github.io/buttons.js"></script>